.medio {
    background-color: rgb(244, 244, 244);
    display: grid;
    grid-template-columns: 200px 1fr;
    padding-right: 15px;
    padding-bottom: 15px;
    z-index: 150;
}
.aside{
    z-index: 100;
    background-color: rgb(244, 244, 244);
    box-shadow: 2px  0px 0px rgb(199, 199, 199);
}
.main {
    background-color: rgb(228, 228, 228);
}
.plantilla{
    padding-top: 15px;
    padding-left: 14px;
    padding-bottom: 15px;
}
.plantilla:hover{
    background-color: rgb(228, 228, 228);
}